host/__pycache__/interactive_cli.cpython-313.pyc
host/__pycache__/mcp_host_lmstudio.cpython-313.pyc
host/__pycache__/mcp_host_ollama.cpython-313.pyc
host/__pycache__/interactive_cli.cpython-312.pyc
host/__pycache__/mcp_host_lmstudio.cpython-312.pyc
host/__pycache__/mcp_host_ollama.cpython-312.pyc
